body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

table {
  margin: 100px;
}

tr:nth-child(odd)
{background-color: #212121}

th {
  text-align: center;
}
