body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

table {
  margin-left: 100px;
  margin-right: 100px;
  width: 100%;
  padding: 10px;
}

tr:nth-child(odd)
{background-color: #21212}

tr {
  padding: 10px;
}


th {
  text-align: center;
  padding: 10px;
}
